
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  
}

.nexatransform
{
  
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexacontentsboxflex
{
  display: -webkit-flex;
  display: flex;
  background-position:left center;
  background-repeat:no-repeat;
  align-items : center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
  justify-content:flex-start;
}

.nexarightalign
{
  text-align:right;
  justify-content:flex-end;
}

.nexacenteralign
{
  text-align:center;
  justify-content:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .DatepickerYearItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Button.btn_pagingFirst
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
.Button.btn_pagingLast
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
.Button.btn_pagingPrev
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
.Button.btn_pagingNext
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
.Button.btn_pagingNum
{
	background : transparent;
	color : #222222;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
.Button.btn_pagingNum .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_pagingFirst[data-status=focused]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingFirst[data-status=mouseover]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingLast[data-status=focused]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingLast[data-status=mouseover]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingPrev[data-status=focused]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingPrev[data-status=mouseover]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNext[data-status=focused]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNext[data-status=mouseover]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNum[data-status=focused]
{
	background : transparent;
	color : #222222;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
#nexacontainer .Button.btn_pagingNum[data-status=focused] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_pagingNum[data-status=mouseover]
{
	background : transparent;
	color : #3366cc;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
#nexacontainer .Button.btn_pagingNum[data-status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	text-decoration : underline;
}
#nexacontainer .Button.btn_pagingFirst[data-userstatus=selected]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingFirst[data-userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingLast[data-userstatus=selected]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingLast[data-userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingPrev[data-userstatus=selected]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingPrev[data-userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNext[data-userstatus=selected]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next.png') no-repeat center center #ffffff;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNext[data-userstatus=pushed]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next.png') no-repeat center center #f6f6f6;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNum[data-userstatus=selected]
{
	background : transparent;
	color : #222222;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
#nexacontainer .Button.btn_pagingNum[data-userstatus=selected] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_pagingNum[data-userstatus=pushed]
{
	background : transparent;
	color : #3366cc;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
#nexacontainer .Button.btn_pagingNum[data-userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	text-decoration : underline;
}
#nexacontainer .Button.btn_pagingFirst[data-status=disabled]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_first_D.png') no-repeat center center #e9e9e9;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingLast[data-status=disabled]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_last_D.png') no-repeat center center #e9e9e9;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingPrev[data-status=disabled]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_prev_D.png') no-repeat center center #e9e9e9;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNext[data-status=disabled]
{
	background : url('./../../../_resource_/_images_/commPaging/btn_next_D.png') no-repeat center center #e9e9e9;
	cursor : pointer;
	border : 0px solid #c7c7c7;
}
#nexacontainer .Button.btn_pagingNum[data-status=disabled]
{
	background : transparent;
	color : #3366cc;
	cursor : pointer;
	font : bold 12px "Arial","Gulim";
	border : 0px none;
}
#nexacontainer .Button.btn_pagingNum[data-status=disabled] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
