
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .DatepickerYearItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Static.sta_WF_box01
{
	background : #ffffff;
	color : #101010;
	font : 14px "나눔고딕";
	border : 1px solid #d3d5d8;
}
.Static.sta_WF_box01 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_WF_box02
{
	background : #f2f2f2;
	color : #101010;
	font : 14px "나눔고딕";
	border : 1px solid #d3d5d8;
}
.Static.sta_WF_box02 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_WF_searchID
{
	font : normal 600 16px "나눔고딕";
}
.Static.sta_WF_searchID .nexacontentsbox
{
	text-align : right;
	background-position-x : right;
}
.Static.sta_WF_docScript01
{
	background : #797a6c;
	color : #ffffff;
	font : normal 500 14px "나눔고딕";
	border : 3px solid #bcbda5;
}
.Static.sta_WF_docScript01 .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.Static.sta_WF_doctor01 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor01.png');
}
.Static.sta_WF_doctor01 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor01.png');
}
.Static.sta_WF_doctor01 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor01.png');
}
.Static.sta_WF_doctor01 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor01.png');
}
.Static.sta_WF_doctor02 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor02.png');
}
.Static.sta_WF_doctor02 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor02.png');
}
.Static.sta_WF_doctor02 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor02.png');
}
.Static.sta_WF_doctor02 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor02.png');
}
.Static.sta_WF_doctor03 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor03.png');
}
.Static.sta_WF_doctor03 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor03.png');
}
.Static.sta_WF_doctor03 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor03.png');
}
.Static.sta_WF_doctor03 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor03.png');
}
.Static.sta_WF_doctor04 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor04.png');
}
.Static.sta_WF_doctor04 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor04.png');
}
.Static.sta_WF_doctor04 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor04.png');
}
.Static.sta_WF_doctor04 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor04.png');
}
.Static.sta_WF_doctor05 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor05.png');
}
.Static.sta_WF_doctor05 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor05.png');
}
.Static.sta_WF_doctor05 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor05.png');
}
.Static.sta_WF_doctor05 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor05.png');
}
.Static.sta_WF_doctor06 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor06.png');
}
.Static.sta_WF_doctor06 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor06.png');
}
.Static.sta_WF_doctor06 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor06.png');
}
.Static.sta_WF_doctor06 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor06.png');
}
.Static.sta_WF_doctor07 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor07.png');
}
.Static.sta_WF_doctor07 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor07.png');
}
.Static.sta_WF_doctor07 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor07.png');
}
.Static.sta_WF_doctor07 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor07.png');
}
.Static.sta_WF_doctor08 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor08.png');
}
.Static.sta_WF_doctor08 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor08.png');
}
.Static.sta_WF_doctor08 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor08.png');
}
.Static.sta_WF_doctor08 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor08.png');
}
.Static.sta_WF_doctor09 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor09.png');
}
.Static.sta_WF_doctor09 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor09.png');
}
.Static.sta_WF_doctor09 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor09.png');
}
.Static.sta_WF_doctor09 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor09.png');
}
.Static.sta_WF_doctor10 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor10.png');
}
.Static.sta_WF_doctor10 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor10.png');
}
.Static.sta_WF_doctor10 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor10.png');
}
.Static.sta_WF_doctor10 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor10.png');
}
.Static.sta_WF_doctor11 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor11.png');
}
.Static.sta_WF_doctor11 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor11.png');
}
.Static.sta_WF_doctor11 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor11.png');
}
.Static.sta_WF_doctor11 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor11.png');
}
.Static.sta_WF_doctor12 >.nexaedge  .nexarightbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor12.png');
}
.Static.sta_WF_doctor12 >.nexaedge  .nexaleftbottom
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor12.png');
}
.Static.sta_WF_doctor12 >.nexaedge  .nexalefttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor12.png');
}
.Static.sta_WF_doctor12 >.nexaedge  .nexarighttop
{
	background-image : url('./../../../_resource_/_images_/img_WF_doctor12.png');
}
.Button.btn_WF_width
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_width[data-status=focused]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_width[data-status=mouseover]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_height[data-status=focused]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_height[data-status=mouseover]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_width[data-userstatus=selected]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_width[data-userstatus=pushed]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_height[data-userstatus=selected]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_height[data-userstatus=pushed]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_width[data-status=disabled]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #959595;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
#nexacontainer .Button.btn_WF_height[data-status=disabled]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #959595;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
