
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .DatepickerYearItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Static.sta_WF_box01
{
	background : #ffffff;
	color : #101010;
	font : 14px "나눔고딕";
	border : 1px solid #d3d5d8;
}
.Static.sta_WF_box01 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_box02
{
	background : #f2f2f2;
	color : #101010;
	font : 14px "나눔고딕";
	border : 1px solid #d3d5d8;
}
.Static.sta_WF_box02 .nexacontentsbox
{
	text-align : left;
}
.Static.sta_WF_searchID
{
	font : normal 600 16px "나눔고딕";
}
.Static.sta_WF_searchID .nexacontentsbox
{
	text-align : right;
}
.Static.sta_WF_docScript01
{
	background : #797a6c;
	color : #ffffff;
	font : normal 500 14px "나눔고딕";
	border : 3px solid #bcbda5;
}
.Static.sta_WF_docScript01 .nexacontentsbox
{
	vertical-align : middle;
}
.Static.sta_WF_doctor01
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor01.png") 0px 0px;
}
.Static.sta_WF_doctor02
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor02.png") 0px 0px;
}
.Static.sta_WF_doctor03
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor03.png") 0px 0px;
}
.Static.sta_WF_doctor04
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor04.png") 0px 0px;
}
.Static.sta_WF_doctor05
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor05.png") 0px 0px;
}
.Static.sta_WF_doctor06
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor06.png") 0px 0px;
}
.Static.sta_WF_doctor07
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor07.png") 0px 0px;
}
.Static.sta_WF_doctor08
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor08.png") 0px 0px;
}
.Static.sta_WF_doctor09
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor09.png") 0px 0px;
}
.Static.sta_WF_doctor10
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor10.png") 0px 0px;
}
.Static.sta_WF_doctor11
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor11.png") 0px 0px;
}
.Static.sta_WF_doctor12
{
	-nexa-edge : url("./../../../_resource_/_images_/img_WF_doctor12.png") 0px 0px;
}
.Button.btn_WF_width
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_width[status=focused]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_width[status=mouseover]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height[status=focused]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height[status=mouseover]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_width[userstatus=selected]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_width[userstatus=pushed]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height[userstatus=selected]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #1c67cc;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height[userstatus=pushed]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #135aba;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_width[status=disabled]
{
	background : url("./../../../_resource_/_images_/btn_WF_width.png") no-repeat center center #959595;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
.Button.btn_WF_height[status=disabled]
{
	background : url("./../../../_resource_/_images_/btn_WF_height.png") no-repeat center center #959595;
	border-radius : 5px;
	cursor : pointer;
	border : 0px none;
}
